footer {
    background: #856A3B;
    display: flex;
    flex-wrap: wrap;
    @include mediaMaxWidth(480px){
        padding-bottom: 38px;
    }

    .item-footer {
        width: calc(100% / 3);
        padding: 0px 29px 0px 70px;
        margin: 50px 0px 30px 0px;
        border-right: 1px solid #f5c627;
        @include mediaMaxWidth(480px){
            width: 100%;
            padding: 10px 15px;
        }

        .title-footer {
            font-size: 18px;
            font-family: "UTM TIMES_0";
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        .lineText {
            display: flex;
            color: #fff;
            &.lineText-bottom{
            	margin-top: 10px;
            }
            p{
            	padding-right: 15px;
            	margin-bottom: 5px;
            }

            .fa {
                padding-right: 20px;
                padding-top: 5px;
                color: #f5c627;
                // background: linear-gradient(180deg, #CB9D45 0%, #FCE9B4 53.04%, #CB9D45 100%);
            }
        }
        &:nth-of-type(1) {  
            text-align: center;
            width: 30%;
        }
         &:nth-of-type(3) {  
           
            width: 30%;
            border-right: none;
        }

        &:nth-of-type(4) {
            width: 100%;
            text-align: center;
            color: #fff;
            border-top: 1px solid #f5c627;
            padding-top: 10px;
            padding-bottom: 10px;
            margin:0px;
        }
    }

}