.header{
	position: fixed;
	z-index: 111;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition:0.4s;
	@include mediaMaxWidth(1024px){
		display: none;
	}
	&.scroll-header{
		background: #856A3B;	
		padding: 15px 35px;
		box-shadow: 4px -4px 15px 0px black;
		
		.logo{
			img{
				height: 50px;
				&:nth-of-type(1){ 
					opacity: 0;
					visibility: hidden;
				}
				&:nth-of-type(2){ 
					opacity: 1;
					visibility:visible;
				}
			}
		}	
	}
	.logo{
		position: relative;
		img{
			height: 96px;
			&:nth-of-type(2){
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.menu{
		display: flex;
		text-transform: uppercase;
		font-family: "UTM TIMES_0";
		font-size: 15px;
		letter-spacing: 0.01em;
		width: percentage(1115/1440);
		margin: 0;
		justify-content: space-between;
		.item-menu{
			a{
				color:white;
				transition:0.4s;
				&.is-active, &:hover{
					background: linear-gradient(14.27deg, #58430F -16.43%, rgba(240, 207, 91, 0.8) 31.94%, rgba(227, 195, 82, 0.8414) 52.64%, rgba(194, 162, 57, 0.9172) 72.3%, #977719 87.91%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-weight: bold;
					transform: scale(1.2);
					display: inline-block;
				}
			}
		}
	}
}
.logo-mobile {
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    display: none;

    @include mediaMaxWidth(768px) {
        display: block;
    }
}
.humberger {
    position: fixed;
    z-index: 9999;
    bottom: 6px;
    display: none;
      webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;

    @include mediaMaxWidth(1024px) {
        left: 50px;
    }

    @include mediaMaxWidth(480px) {
        left: 24px;
    }

    .line {
        width: 30px;
        height: 2px;
        background: #fff;
        display: block;
        margin-bottom: 8px;
          webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      
    }

    &.humberger-active {
        webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;

        .line {
            &:nth-child(1) {
                -webkit-transform: translateY(16px) rotateZ(45deg);
                -moz-transform: translateY(16px) rotateZ(45deg);
                transform: translateY(10px) rotateZ(45deg);
                background: #fff;
                webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            &:nth-child(2) {
                opacity: 0;
                webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            &:nth-child(3) {
                -webkit-transform: translateY(-3px) rotateZ(-45deg);
                -moz-transform: translateY(-3px) rotateZ(-45deg);
                transform: translateY(-9px) rotateZ(-45deg);
                background: #fff;
                webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
    }

    @include mediaMaxWidth(1024px) {
        display: block;
    }

    @include mediaMaxWidth(480px) {
        display: block;
    }
}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
   background: #856A3B;	
    text-align: center;
    z-index: 1000;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    @include transition(all .8s ease);
    align-items: center;
    padding-top: 20px;
    // transition-duration: .8s;
    overflow-x: hidden;
    overflow-y: auto;

    justify-content: center;

    &.menu-mobile-active {
        opacity: 1;
        transform: translateX(0%);

        ul {
            li {
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                transform: translateX(0%);
                -moz-transition-duration: .8s;
                -o-transition-duration: .8s;
                -webkit-transition-duration: .8s;
                transition-duration: .8s;
                opacity: 1;

                &:nth-of-type(1) {
                    -moz-transition-delay: 100ms;
                    -o-transition-delay: 100ms;
                    -webkit-transition-delay: 100ms;
                    transition-delay: 100ms;
                }

                &:nth-of-type(2) {
                    -moz-transition-delay: 200ms;
                    -o-transition-delay: 200ms;
                    -webkit-transition-delay: 200ms;
                    transition-delay: 200ms;
                }

                &:nth-of-type(3) {
                    -moz-transition-delay: 300ms;
                    -o-transition-delay: 300ms;
                    -webkit-transition-delay: 300ms;
                    transition-delay: 300ms;
                }

                &:nth-of-type(4) {
                    -moz-transition-delay: 400ms;
                    -o-transition-delay: 400ms;
                    -webkit-transition-delay: 400ms;
                    transition-delay: 400ms;
                }

                &:nth-of-type(5) {
                    -moz-transition-delay: 500ms;
                    -o-transition-delay: 500ms;
                    -webkit-transition-delay: 500ms;
                    transition-delay: 500ms;
                }

                &:nth-of-type(6) {
                    -moz-transition-delay: 600ms;
                    -o-transition-delay: 600ms;
                    -webkit-transition-delay: 600ms;
                    transition-delay: 600ms;
                }

                &:nth-of-type(7) {
                    -moz-transition-delay: 700ms;
                    -o-transition-delay: 700ms;
                    -webkit-transition-delay: 700ms;
                    transition-delay: 700ms;
                }

                &:nth-of-type(8) {
                    -moz-transition-delay: 800ms;
                    -o-transition-delay: 800ms;
                    -webkit-transition-delay: 800ms;
                    transition-delay: 800ms;
                }

                &:nth-of-type(9) {
                    -moz-transition-delay: 900ms;
                    -o-transition-delay: 900ms;
                    -webkit-transition-delay: 900ms;
                    transition-delay: 900ms;
                }
            }
        }
    }


    ul {
        margin-top: 10px;

        li {
            opacity: 0;
            color: #101912;
            font-family: "UTM TIMES_0";
            font-size: 15px;
            line-height: 24px;
            padding-top: 15px;
            -moz-transition-duration: .8s;
            -o-transition-duration: .8s;
            -webkit-transition-duration: .8s;
            transition-duration: .8s;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            transform: translateX(-100%);

            a {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                background: #fff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 5px 0;
               font-family: "UTM TIMES_0";
            }
        }
    }
}

.header-menu-mobile {
   background: #856A3B;
    width: 100%;
    height: 51px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    display: none;

    @include mediaMaxWidth(1024px) {
        display: block;
    }
}