.section_9{
    color: white;
    text-align: center;
    padding: 84px 0;
    @include mediaMaxWidth(1024px){
        padding: 50px 0;
    }
    @include mediaMaxWidth(480px){
        padding:40px 15px;
    }
    .form-title{
        p{
            &:nth-of-type(1){
                font-size: 30px;
                letter-spacing: 0.03em;
                font-family: "UTM TIMES_0";
                text-transform: uppercase;
                margin-bottom: 20px;
                @include mediaMaxWidth(480px){
                    font-size: 16px;
                }
            }
            &:nth-of-type(2){    
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.01em;
                width: percentage(524/1440);
                margin: auto;
                margin-bottom: 35px;
                @include mediaMaxWidth(1024px){
                    width: 60%;
                }
                @include mediaMaxWidth(480px){
                    width: 95%;
                    font-size: 13px;
                }
            }
        }
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: percentage(675/1440);
        margin: auto;
        @include mediaMaxWidth(1024px){
            width: 60%;
        }
        @include mediaMaxWidth(480px){
            width: 100%;
        }
        .input{
            width: 100%;
            background: rgba(196, 196, 196, 0.5);
            border:none;
            margin-bottom: 20px;
            padding: 16px 25px;
            color: #FFFFFF;
            &::placeholder{
                font-size: 13px; 
                color: #FFFFFF;
            }
        }
        .submit{
            font-weight: bold;
            font-size: 15px;
            line-height: normal;
            background: linear-gradient(14.27deg, #58430F -16.43%, rgba(240, 207, 91, 0.8) 31.94%, rgba(227, 195, 82, 0.8414) 52.64%, rgba(194, 162, 57, 0.9172) 72.3%, #977719 87.91%);
            color: white;
            border: none;
            text-transform: uppercase;
            width: max-content;
            padding: 15px 70px;
            margin: auto;
        }
    }
}