.section_8{
	h3,h2,h1,a,p{
		margin: 0px;
		padding:0px;
	}
	position:relative;
	padding:105px 0px 49px 120px;
	display: flex;
	flex-wrap: wrap;
	@include mediaMaxWidth(768px){
		padding-left:30px;
		padding-top:30px;
	}
	@include mediaMaxWidth(480px){
		padding-left:15px;
	}
	.img{
		width: 554px;
		height:690px;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		position:absolute;
		top:0px;
		left: 0px;
		@include mediaMaxWidth(480px){
			width: 320px;
			height: 295px;
		}
	}
	.ss8-left{
		
		padding-right:133px;
		width:percentage(554/1440);
		@include mediaMaxWidth(1024px){
			padding-right:30px;
		}
		@include mediaMaxWidth(768px){
			padding-right:30px;
		}
		@include mediaMaxWidth(480px){
			padding-right:15px;
			width: 100%;
			
		}
		
		.title{
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
			order:1;
			padding-top:27px;
			font-family: "UTM TIMES_0";
			font-size: 24px;
			line-height: normal;
			letter-spacing: 0.03em;
			padding-bottom:76px;
			text-transform: uppercase;
			@include mediaMaxWidth(1024px){
				font-size: 20px;
				padding-top:27px;
				padding-bottom:76px;
			}
			@include mediaMaxWidth(768px){
				font-size: 16px;
				padding-top:30px;
				padding-bottom:30px;
			}
			
		}
		.text{ 
			order:2;
			font-family: "OPENSANS-BOLD";
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 22px;
			text-align: justify;
			padding-bottom:69px;
			color: #585858;
			@include mediaMaxWidth(480px){
				padding-bottom:0;
			}

		}
		.pagination-ss8{
			order:3;
			width: 107px;
			height: 19px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			@include mediaMaxWidth(480px){
				
				margin-left: 50%;
				transform: translate(-70%, 0);
				position: absolute;
				bottom: 0;
			}
			.swiper-pagination-bullet{
				width: 10px;
				height:10px;
				padding:5px;
				margin: 10px;
				position:relative;
				background: #DBDBDB;
				z-index: 2;
				opacity: 1;		
			}
			.swiper-pagination-bullet-active {
				background: #fff;
				opacity: 1;
				width: 10px;
				height: 10px;
				position:relative;
				z-index: 2;
				opacity: 1;
				border: solid 5px #DBDBDB;	
			}
		}
		button{
			border:none;
			outline:none;
			margin-top: 44px;
			padding:14px 77px 15px 66px;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
			
			display: flex;
			
			a{
				font-family: "OPENSANS-BOLD";
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				line-height: normal;
				color: #FFFFFF;
			}
			i{
				color: #FFFFFF;
				padding-left:5px;
			}
			@include mediaMaxWidth(480px){
				margin-left: 50%;
				transform:translate(-50%,0);
				order:3;
			}
		}
	}
	.ss8-right{
		width:percentage(886/1440);
		@include mediaMaxWidth(480px){
			width: 100%;
			padding-top:20px;
		}
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					margin-right: 30px;
					@include mediaMaxWidth(480px){
						margin-right: 0px;
					}
					.img{
						position:relative;
						z-index: 1;
						background-repeat:no-repeat;
						background-size:cover;
						width: 323.11px;
						height: 419.47px;
						@include mediaMaxWidth(1024px){
							width: 282.11px;
							height: 382.47px;
						}
						&:after{
							position:absolute;
							content:"";
							background-image: url('../../../images/ss6/Pattern.png');
							width: 200px;
							right: 0px;
							bottom:0px;
							height: 200px;
							z-index: 2;
							background-repeat:no-repeat;
							background-size:cover;
						}
						


					}
					.text{
						p{
							font-family: "OPENSANS-BOLD";
							font-style: normal;
							font-weight: bold;
							font-size: 12px;
							line-height: normal;
							text-align: justify;
							padding-top:15.53px;
							color: #585858;
						}
						h3{
							font-family: "UTM TIMES_0";
							font-size: 18px;
							line-height: 25px;
							letter-spacing: 0.03em;
							padding-top:9px;
							color: #585858;
							text-transform: uppercase;
							@include mediaMaxWidth(480px){
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
}