.section_1{
	.banner{
		height: 100vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		@include mediaMaxWidth(1024px){
			height: 0;
			padding-top: percentage(690/1440)
		}
		@include mediaMaxWidth(768px){
			height: 470px;
			padding-top: 0;
		}
		.play-video{
			position: absolute;
			top: 50%;
			left: 50%;
		    transform: translate(-50%, -50%);
		    img{
		    	@include mediaMaxWidth(768px){
		    		width: 65px;
		    		height: auto;
		    		display: block;
		    	}
		    }
		}
		.title-baner{
			width: max-content;
			position: absolute;
			left: 50%;
			bottom: 24px;
			transform: translateX(-50%);
			h1{
				font-family: "UTM TIMES_0";
				font-size: 36px;
				color: #fff;
				text-transform: uppercase;
			    letter-spacing: 1.7px;
			    @include mediaMaxWidth(768px){
			    	font-size: 30px;
			    	margin-bottom: 0;
			    }
			    @include mediaMaxWidth(480px){
			    	font-size: 26px;
			    }
			}
			p{
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-family: "OPENSANS-REGULAR";
				font-size: 26px;
			    letter-spacing: 1.7px;
			    @include mediaMaxWidth(768px){
			    	font-size: 20px;
			    }
			    @include mediaMaxWidth(480px){
			    	font-size: 16px;
			    }
			}
			.click-scroll{
				display: block;
				margin: auto;
				width: max-content;				
				img{
					display: block;
				}
			}
		}
	}
}
.section_2{
	display: flex;
	flex-wrap: wrap;
	padding-top: 90px;
	padding-bottom: 90px;
	position: relative;
	margin-bottom: 50px;
	@include mediaMaxWidth(768px){
		padding-top: 60px;
		margin-bottom: 0px;
	}
	@include mediaMaxWidth(480px){
		padding-bottom: 50px;
		padding-top: 40px;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-image: url('../../../images/home/backg-rg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
		@include mediaMaxWidth(768px){
			display: none;
		}
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-image: url('../../../images/home/backg-af.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
		@include mediaMaxWidth(768px){
			display: none;
		}
	}
	.col_left{
		width: percentage(600/1440);
		padding-left: percentage(120/1440);
		padding-right: 70px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-image: url('../../../images/home/backg-af.png');
			// background-image: url('../../../images/home/backg-rg.png');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			display: none;
			@include mediaMaxWidth(768px){
				display: block;
			}
		}
		@include mediaMaxWidth(1024px){
			width: 45%;
			padding-right: 30px;
			padding-left: 30px;
		}
		@include mediaMaxWidth(768px){
			width: 100%;
			margin-bottom: 0px;
			padding-bottom: 30px;
		}
		@include mediaMaxWidth(480px){
			padding-left: 15px;
			padding-right: 15px;
		}
		h2{
			font-family: "UTM TIMES_0";
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: .7px;
			margin-bottom: -7px;
			background-image: -webkit-linear-gradient(top, #a98604 0, #e2a233 38%, #f0c328 60%, #bba31d 86%, #927c12 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@include mediaMaxWidth(480px){
				font-size: 18px;
			}
		}
		h3{
			margin-bottom: 50px;
			font-family: "UTM TIMES_0";
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 1.7px;
			-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
            @include mediaMaxWidth(768px){
            	margin-bottom: 25px;
            }
            @include mediaMaxWidth(480px){
            	font-size: 20px;
            }
		}
		.wrap_icon{
			display: flex;
			flex-wrap: wrap;
			font-family: "OPENSANS-REGULAR";
			color: #585858;
			.item_apiece{
			    width: 50%;
			    display: flex;
			    margin-bottom: 50px;
			    flex-wrap: wrap;
			    align-items: center;
			    @include mediaMaxWidth(1024px){
			    	margin-bottom: 20px;
			    }
			    ._itimate{
			    	padding-left: 20px;
			    	width: calc(100% - 55px);
			    	font-size: 15px;
			    	font-family: "OPENSANS-REGULAR";
			    	@include mediaMaxWidth(480px){
			    		font-size: 13px;
			    	}
			    }
			    ._icon{
			    	width: 55px;
			    	img{
			    		display: block;
			    	}
			    }
			}
		}
		._content{
			text-align: justify;
			font-family: "OPENSANS-REGULAR";
			color: #585858;
			font-size: 15px;
			@include mediaMaxWidth(480px){
				font-size: 13px;
			}
		}
	}
	.col_right{
		width: percentage(840/1440);
		position: relative;
		overflow: hidden;
		@include mediaMaxWidth(1024px){
			width: 55%;
		}
		@include mediaMaxWidth(768px){
			width: 100%;
			padding: 30px 0;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			// background-image: url('../../../images/home/backg-af.png');
			background-image: url('../../../images/home/backg-rg.png');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			display: none;
			@include mediaMaxWidth(768px){
				display: block;
			}
		}
		.slide_s2{
			.s2_container{
				margin-right: percentage(120/1440);
				overflow: initial;
				padding-bottom: 20px;
				@include mediaMaxWidth(768px){
					margin-right: 0px;
				}
				.swiper-button-prev, .swiper-button-next{
					background-image: none;
					width: 35px;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
					outline: 0;
				}
				.swiper-slide{
					// &:after{
					// 	position: absolute;
					// 	content: "";
					// 	width: 100%;
					// 	height: 100%;
					// 	top: 0;
					// 	left: 0;
					//     background-color: rgba(243, 207, 92, 0.6784313725490196);
					// 	transition: 0.3s;
					// }
				}
				.swiper-slide-active{
					// &:after{
					// 	opacity: 0;
					// }
				}
				.swiper-slide-next{
					// &:after{
					// 	opacity: 0;
					// }
				}
			}
			.img_slide{
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				padding-top: percentage(510/360);
				position: relative;
			    box-shadow: 10px 12px 11px 0px #c3a4417a;
				@include mediaMaxWidth(1440px){
					padding-top: 0;
					height: 510px;
				}
				@include mediaMaxWidth(768px){
					box-shadow: none;
				}
				h4{
					font-size: 30px;
					position: absolute;	
					bottom: 29px;
					left: 20px;
					right: 20px;
					font-family: "UTM TIMES_0";
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 1.7px;
					text-align: center;
					@include mediaMaxWidth(1024px){
						max-width: 296px;
					}
					@include mediaMaxWidth(480px){
						font-size: 20px;
					}
				}
			}
		}
	}
	.swiper-pagination{
		left: percentage(120/1440);
		bottom: 90px;
		display: flex;
		align-items: center;
		@include mediaMaxWidth(1024px){
			left: 30px;
			bottom: 30px;
		}
		@include mediaMaxWidth(480px){
			display: none;
		}
		.swiper-pagination-bullet{
			width: 10px;
			height: 10px;
			background: #DBDBDB;
			margin-right: 12px;
			opacity: 1;
		}
		.swiper-pagination-bullet-active{
			width: 19px;
			height: 19px;
			background-color: #fff;
			border: 4px solid #C4C4C4;
		}
	}
}
.section_3{
	.title_s3{
		font-family: "UTM TIMES_0";
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
        margin-bottom: 20px;
        @include mediaMaxWidth(480px){
        	font-size: 20px;
        }
	}
	.wrap_map{
		position: relative;
		img{
			width: 100%;
			height: auto;
		}
		.more_map{
			padding: 36px 0 30px 50px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 45%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top right;
			@include mediaMaxWidth(1024px){
				padding-left: 30px;
			}
			@include mediaMaxWidth(768px){
				width: 50%;
				padding-top: 15px;
				padding-bottom: 15px;
			}
			h3{
				color: #585858;
				text-transform: uppercase;
				font-size: 30px;
				font-family: "UTM TIMES_0";
				letter-spacing: 1.7px;
				letter-spacing: 1.7px;
				margin-bottom: 26px;
				@include mediaMaxWidth(1024px){
					font-size: 20px;
				}
				@include mediaMaxWidth(768px){
					margin-bottom: 10px;
				}
				@include mediaMaxWidth(480px){
					display: none;
					br{
						display: none;
					}
				}
			}
			a{
				font-size: 15px;
				font-family: "OPENSANS-SEMIBOLD";
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
				i{
					padding-left: 15px;
				}
			}
		}
	}
}
.section_4{
	margin-top: 45px;
	.title_s4{
		font-family: "UTM TIMES_0";
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
        margin-bottom: 20px;
		@include mediaMaxWidth(480px){
			padding: 0 15px;
			font-size: 20px;
		}
	}
	.flat{
		.link_tab{
			list-style-type: none;
			display: flex;
			width: max-content;
			margin: auto;
			margin-bottom: 26px;
			li{
				display: block;
				height: 41px;
				width: 167px;
				font-size: 16px;
				font-family: "UTM TIMES_0";
				color: #585858;
				line-height: 41px;
				margin-right: 17px;
				text-align: center;
				background-color: #F1EFEF;
				text-transform: uppercase;
				cursor: pointer;
				&:last-child{
					margin-right: 0;
				}
				&.active-m{
					background-color: #F4D164;
				}
				@include mediaMaxWidth(480px){
					width: 100px;
				}
				@include mediaMaxWidth(320px){
					width: 80px;
				    line-height: 35px;
				    height: 35px;
				}
			}	
		}
	}
	.wrapper-tab{
		// height: 0;
		.slide_flat{
			position: relative;
		    // margin-top: 26px;
		    // padding-bottom: 60px;
		    visibility: hidden;
	    	opacity: 0;
	    	// display: none;
	    	height: 0;
		    &.active-m{
		    	display: block;
		    	visibility: visible;
		    	opacity: 1;
		    	height: max-content
		    }
			.s4-slide-container{
				margin-right: percentage(255/1440);
				margin-left: percentage(255/1440);
				@include mediaMaxWidth(1024px){
					margin-left: 30px;
					margin-right: 30px;
				}
				@include mediaMaxWidth(480px){
					margin-right: 0;
					margin-left: 0;
				}
				.img_slide{
					p{
						font-size: 18px;
						color: #585858;
						font-family: "UTM TIMES_0";
						text-transform: uppercase;
						text-align: center;	
						margin-bottom: 30px;
						@include mediaMaxWidth(480px){
							font-size: 15px;
						}
					}
					img{
						width: 100%;
						display: block;
					}
				}
			}
			.swiper-button-next{
				background-image: none;
				right: percentage(120/1440);
				height: 33px;
				outline: 0;
				@include mediaMaxWidth(480px){
					display: none;
				}
				img{
					display: block;
					height: 100%;
					width: auto;
				}
			}
			.swiper-button-prev{
				background-image: none;
				left: percentage(120/1440);
				right: auto;
				height: 33px;
				outline: 0;
				@include mediaMaxWidth(480px){
					display: none;
				}
				img{
					display: block;
					height: 100%;
					width: auto;
				}
			}
			.swiper-pagination{
				left: 50%;
				bottom: -60px;
				transform: translateX(-50%);
				display: flex;
				align-items: center;
				.swiper-pagination-bullet{
					width: 10px;
					height: 10px;
					background: #DBDBDB;
					margin-right: 12px;
					opacity: 1;
					@include mediaMaxWidth(480px){
						width: 7px;
						height: 7px;
					}
				}
				.swiper-pagination-bullet-active{
					width: 19px;
					height: 19px;
					background-color: #fff;
					border: 3px solid #C4C4C4;
					@include mediaMaxWidth(480px){
						width: 14px;
						height: 14px;
					}
				}
			}
		}
	}
}
.section_5{
	margin-top: 115px;
	.title-s5{
		@include mediaMaxWidth(480px){
			padding-left: 15px;
			padding-right: 15px;
		}
		h3{
			font-family: "UTM TIMES_0";
			text-align: center;
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 1.7px;
			-webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
	        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
	        margin-bottom: -7px;
	        margin-bottom: 21px;
	        @include mediaMaxWidth(480px){
	        	font-size: 20px;
	        	br{
	        		display: none;
	        	}
	        }
		}
		p{
			text-align: center;
			font-size: 15px;
			font-family: "OPENSANS-REGULAR";
			@include mediaMaxWidth(480px){
				font-size: 13px;
			}
		}
	}
	.slide-concepts{
		position: relative;
		margin-top: 60px;
		margin-bottom: 60px;
		@include mediaMaxWidth(480px){
			margin-top: 45px;
		}
		.s5-slide-container{
			margin-right: percentage(195/1440);
			margin-left: percentage(195/1440);
			@include mediaMaxWidth(1204px){
				margin-right: 90px;
				margin-left: 90px;
			}
			@include mediaMaxWidth(480px){
				margin-left: 15px;
				margin-right: 15px;
			}
			.slide-img{
				img{
					display: block;
					margin: auto;
					@include mediaMaxWidth(480px){
						width: 30%;
					}
				}
				p{
					text-align: center;
					margin-top: 50px;
					font-size: 15px;
					font-family: "OPENSANS-REGULAR";
					@include mediaMaxWidth(1024px){
						text-align: justify;
					}
					@include mediaMaxWidth(480px){
						font-size: 13px;
						text-align: left;
						margin-top: 25px;
					}
				}
			}
		}
		.swiper-button-next{
			background-image: none;
			right: percentage(120/1440);
			height: 33px;
			outline: 0;
			@include mediaMaxWidth(1024px){
				right: 30px;
			}
			@include mediaMaxWidth(480px){
				display: none;
			}
			img{
				display: block;
				height: 100%;
				width: auto;
			}
		}
		.swiper-button-prev{
			background-image: none;
			left: percentage(120/1440);
			right: auto;
			height: 33px;
			outline: 0;
			@include mediaMaxWidth(1024px){
				left: 30px;
			}
			@include mediaMaxWidth(480px){
				display: none;
			}
			img{
				display: block;
				height: 100%;
				width: auto;
			}
		}
	}
}
.section_6{
	padding-left: percentage(120/1440);
	padding-right: percentage(120/1440);;
	padding-top: 76px;
	padding-bottom: 102px;
	position: relative;
	@include mediaMaxWidth(1024px){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mediaMaxWidth(768px){
		padding: 0;
	}
	.s6-slide-container{
		.img-slide{
			position: relative;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-top: percentage(615/1440);
			@include mediaMaxWidth(1440px){
				height: 615px;
				padding-top: 0;
			}
			@include mediaMaxWidth(768px){
				height: 450px;
			}
			@include mediaMaxWidth(480px){
				height: 350px;
			}
			&:after{
				content: "";
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 50%;
				background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 35.15%);
				transform: matrix(1, 0, 0, -1, 0, 0);
				z-index: 1;
			}
			&:before{
				content: "";
				width: 33%;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 75%;
				z-index: 2;
				background-image: url('../../../images/home/bes6.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			h1{
				position: absolute;
				right: 75px;
				bottom: 57px;
				text-transform: uppercase;
				font-family: "UTM TIMES_0";
				-webkit-background-clip: text;
		        -webkit-text-fill-color: transparent;
		        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 12%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
		        font-size: 30px;
		        z-index: 22;
			}
			p{
				position: absolute;
				right: 75px;
				bottom: 34px;
				font-size: 15px;
				text-transform: uppercase;
				color: #fff;
				z-index: 22;
			}
		}
	}
	.perfect-fluid{
		position: absolute;
		top: 0;
		left: 0;
		width: percentage(507/1440);
		// background-position: bottom right;
		background-position: center right;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 5;
		@include mediaMaxWidth(1024px){
			width: 50%;
		}
		@include mediaMaxWidth(768px){
			position: relative;
			width: 100%;
		}
		.perfect{
			position: relative;
			padding-top: 125px;
			margin-left: percentage(120/507);
			padding-right: 52px;
			padding-left: 45px;
			padding-bottom: 144px;
			@include mediaMaxWidth(1024px){
				margin-left: 30px;
				padding-bottom: 80px;
			}
			@include mediaMaxWidth(768px){
				margin-left: 0;
				padding-top: 30px;
				padding-right: 30px;
			}
			@include mediaMaxWidth(480px){
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 90px;
			}
			.content-tex{
				display: none;
				h2{
					text-transform: uppercase;
					color: #585858;
					font-size: 30px;
					font-family: "UTM TIMES_0";
					margin-bottom: 50px;
					@include mediaMaxWidth(1024px){
						margin-bottom: 10px;
					}
					@include mediaMaxWidth(768px){
						margin-bottom: 30px;
					}
					@include mediaMaxWidth(480px){
						font-size: 20px;
					}
				}
				p{
					color: #585858;
					font-size: 15px;
					font-family: "OPENSANS-REGULAR";
					min-height: 115px;
					@include mediaMaxWidth(768px){
						min-height: max-content;
						margin-bottom: 30px;
					}
					@include mediaMaxWidth(480px){
						font-size: 13px;
					}
				}
				&.active-span{
					display: block;
				}				
			}
			._stt{
				position: absolute;
				bottom: 80px;
				width: 117px;
				// letter-spacing: 50px;
				@include mediaMaxWidth(1024px){
					bottom: 40px;
				}
				@include mediaMaxWidth(480px){
					bottom: 40px;
				}
				.swiper-button-next{
					background-image: none;
					display: flex;
					justify-content: center;
					align-items: center;
					outline: 0;
					right: 0;
					width: 8px;
					height: 16px;
					margin: 0;
					transform: translateY(-50%);
					margin-top: 3px;
					img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.swiper-button-prev{
					background-image: none;
					display: flex;
					justify-content: center;
					align-items: center;
					outline: 0;
					left: 0;
					width: 8px;
					height: 16px;
					margin: 0;
					transform: translateY(-50%);
					margin-top: 3px;
					img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.swiper-button-next.swiper-button-disabled{
					opacity: 1;
				}
				.swiper-button-prev.swiper-button-disabled{
					opacity: 1
				}
				span{
					color: #585858;
					font-size: 36px;
					font-family: "UTM TIMES_0";
					display: none;
					text-align: center;
					&.active-span{
						display: block;
					}
					@include mediaMaxWidth(480px){
						font-size: 26px;
					}
				}
			}
		}
	}
}
.section_7{
	position: relative;
	padding-top: percentage(690/1440);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	@include mediaMaxWidth(480px){
		padding-top: 0;
		height: 320px;
	}
	.decorate_1{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 17%;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.decorate_2{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 5;
		width: 13%;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}	
	.icon_360{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		img{
			display: block;
			@include mediaMaxWidth(480px){
				width: 45px;
				height: auto;
			}
		}
	}
	p{
		font-family: "UTM TIMES_0";
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
        margin-bottom: -7px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
		@include mediaMaxWidth(480px){
			font-size: 17px;
			background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 14%, #f5c627 0%, #fff1a3 86%, #ffe13e 100%);
		}
	}
}



